.news {
    margin: 0 0px;
    height: max-content;
    border: 1px solid rgba(136, 255, 0, 0);
    position: relative;

    margin-right: 200px;
    color: #3D4043;
}

.news__text {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: end;
    flex-direction: column;


    &-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
       
        text-align: end;
    }

    &-subtitle {
        font-weight: 300;
        font-size: 24px;
        line-height: 33px;
        text-align: right;
        max-width: 400px;
        margin-left: auto;
    }
}




.news__content {
    
   

    &-boxes {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, 326px);
        justify-content: space-between;
        

        &-box {
            width: 326px;
            height: max-content;
            border-right: 1px solid #3D4043;
            padding-bottom: 18px;
            margin-bottom: 60px;
            border-radius: 40px 0 0 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 15px;

        }
    }
}



.__first-boxes {
    margin-left: 500px;
    height: 720px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.__secont-boxes {
    padding-left: 200px;
    gap: 50px;
    width: 100%;
    margin-top: 80px;
}


.news__content-boxes-box {
    &-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 28px;
        /* identical to box height */


        /* Желтый */

        color: #EDC147;
    }

    &-subtitle {
        font-weight: 400;
        font-size: 21px;
        line-height: 28px;
    }

    &-date {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }

    &-link {
        display: flex;
        justify-content: end;

        & a {
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-align: center;
            color: #3D4043;
            font-size: 17px;
            font-weight: 400;
            padding-right: 10px;
        }
    }
}








.news__content-img{
    background-image: url('../../images/news/group.png');
    height: 1000px;
    width: 400px;
    position: absolute;
    top:-10px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}



@media (max-width:1387px) {
    .__first-boxes {
        margin-left: 399px;}
        .__secont-boxes{
            margin-left: 0;
            padding-left: 66px;
        }
}

@media (max-width: 1283px){
.news{
    margin-right:70px;
}}


@media (max-width:1169px) {
    .__secont-boxes{
        justify-content: space-around;
    }
    .news__content-img{
        width: 346px;
        height: 868px;
    }
    .__first-boxes{
        height: 589px;
        margin-left: 349px;
    }
}

@media (max-width: 1043px) {
    .news{
        margin: 0;
    }
    .news__content-img {
        background-image: url('../../images/news/Group\ 16.png');
        height: 369px;
    }
    .__first-boxes {
        height: max-content;
        margin-left: 0;
        margin-top: 148px;
    }

}

.news__img__mob{
    display: none;
}

@media (max-width:943px) {
    .news__content-img {
        position: static;
        display: none;
    }
    .news__img__mob{
        display: flex;
        background-image: url('../../images/news/Group\ 16.png');
        height: 369px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 50px 0;
    }
    .news__text-subtitle{
        display: none;
    }
    .news__text-title{
        padding: 0 20px ;
        margin: 0 auto;
        text-align: center;
    }
    .__first-boxes{
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .__secont-boxes{
        padding: 0 20px;
    }
    .news__text-title{
        font-size: 35px ;
    }
    .news__content-boxes-box{
        border: 0;
        border-bottom: 1px solid #3D4043;
        padding-bottom: 59px;
    }
}


.news__content-boxes-box{
    transition: all 0.5s ease;
}

.news__content-boxes-box:hover{
    transform: scale(0.98);
}

.news__content-boxes-box-link a:hover{
    font-weight: 600;
}