.process {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 170px;
  margin-top: -215px;
  background-image: url("../../images/company/decor.png");
  background-size: 1000px;
  border: 0.1px solid rgba(255, 0, 0, 0);
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.process__container {
  border-radius: 464px 464px 0 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 209px;
  padding: 250px 100px;
  color: #3D4043;
}

@media (max-width: 1283px) {
  .process {
    margin: 0 70px;
  }
}
@media (max-width: 1043px) {
  .process {
    margin: 0 0px;
  }
}
/*======text=====*/
.process__container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3D4043;
  height: 200px;
}
.process__container-text-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
}
.process__container-text-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: right;
  max-width: 450px;
  margin-left: auto;
}

/*====content===*/
.process__container__content-box {
  margin: 50px 0 100px;
  display: flex;
  justify-content: space-around;
}
.process__container__content-box-imgs {
  width: 368px;
  height: 557.07px;
  background: #EDC147;
  border-radius: 160.232px;
  position: relative;
}
.process__container__content-box-imgs img {
  border-radius: 160.232px;
  width: 96%;
  float: right;
}
.process__container__content-box-text {
  display: flex;
  align-items: center;
}
.process__container__content-box-text-title {
  width: 400px;
  height: auto;
}
.process__container__content-box-text-title p {
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  border-bottom: 1px solid black;
  text-align: end;
  padding: 20px;
}

@media (max-width: 1460px) {
  .process__container {
    padding: 250px 22px;
    padding-bottom: 100px;
  }
  .process__container-text {
    padding: 0px 24px;
  }
}
/*====decor*/
.process__container__content-box-imgs-decor1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px !important;
  height: 100px !important;
}

.process__container__content-box-imgs-decor2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px !important;
  height: 100px !important;
}

/*====text*/
.process__container__content-box-text::after {
  content: "";
  width: 1px;
  height: 132px;
  background-color: #3D4043;
  position: relative;
  top: 58px;
  left: 0px;
}

.__text2::after {
  content: "";
  width: 1px;
  height: 132px;
  background-color: #3D4043;
  position: relative;
  top: 58px;
  left: -400px !important;
}

.__number2 p {
  text-align: start;
}

@media (max-width: 835px) {
  .process__container__content-box-text {
    padding-top: 317px;
  }
  .process__container__content-box {
    height: 577px;
  }
  .__text2::after {
    top: 59px !important;
  }
}
/*number after text*/
.process__container__content-box-number {
  font-size: 100px;
  color: #3D4043;
  font-family: "PF Regal Display Pro";
  display: flex;
  align-items: center;
}

@media (max-width: 1063px) {
  .process__container__content-box-imgs {
    width: 322px;
    height: 478.07px;
  }
}
@media (max-width: 835px) {
  .process__container__content-box-number {
    display: none;
  }
  .process__container__content-box-text::after {
    top: 113px;
  }
  .process__container__content-box-text-title::before {
    content: "1";
    font-size: 100px;
    color: #3D4043;
    font-family: "PF Regal Display Pro";
    position: relative;
    top: 15px;
    left: 189px;
  }
  .__number2::before {
    content: "2" !important;
    left: 461px;
    font-size: 100px;
    color: #3D4043;
    font-family: "PF Regal Display Pro";
    position: relative;
    top: 15px;
    left: 189px;
  }
  .__number3::before {
    content: "3" !important;
    left: 461px;
    font-size: 100px;
    color: #3D4043;
    font-family: "PF Regal Display Pro";
    position: relative;
    top: 15px;
    left: 189px;
  }
}
@media (max-width: 785px) {
  .process__container__content-box {
    display: block;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .process__container__content-box-text {
    padding: 0;
  }
  .process__container__content-box-text-title {
    margin-left: auto;
    margin-top: -191px;
  }
  .__box2 {
    display: flex;
    justify-content: end;
    position: relative;
    height: 469px;
  }
  .process__container__content-box-text::after {
    display: none;
  }
  .__number2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .process__container__content-box-imgs {
    width: 275px;
    height: 408.07px;
  }
  .process__container__content-box-imgs-decor2 {
    width: 50px !important;
    height: 50px !important;
    top: 6px;
    right: 16px;
  }
  .process__container__content-box-imgs-decor1 {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 0;
    left: 199px;
  }
  .process__container-text {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 50px;
  }
}
@media (max-width: 689px) {
  .process__container__content-box-text-title {
    margin-top: -75px;
  }
  .process__container__content-box-text-title::before {
    left: 335px;
  }
  .__number2::before {
    left: 14px;
  }
  .__box2 {
    height: 571px;
  }
}
@media (max-width: 449px) {
  .process__container__content-box-text-title::before {
    left: 257px;
  }
  .__box2 {
    height: 586px;
  }
  .__number2::before {
    left: 5% !important;
  }
  .process__container__content-box-text-title {
    margin-top: -100px;
  }
  .process__container__content-box-text-title::before {
    left: 82%;
  }
  .__number3::before {
    left: 80%;
  }
  .process__container-text {
    padding: 0 10px;
  }
  .process__container {
    padding: 168px 22px;
  }
  .process__container__content-box-text-title p {
    max-width: 335px;
    border: 0;
    padding-right: 0;
  }
  .process__container {
    padding: 168px 6px;
    padding-bottom: 50px;
  }
  .process__container__content-box {
    border-bottom: 1px solid #3D4043;
    padding: 0 18px;
  }
}
@media (max-width: 400px) {
  .process__container__content-box-text-title {
    margin-top: -74px;
  }
  .__box2 {
    height: 590px;
  }
}/*# sourceMappingURL=process.css.map */